
/* --------------------- THEME ------------------------ */


/* --------------------- DARK MODE ---------------------*/

.dark {
    background-color: #171717;
    color: #ffffff;
}

.light {
    background-color: #fff;
    color: #ffffff;
}

/* --------------------- LOGIN & REG ---------------------- */





/* --------------------- DASHBAORD ---------------------- */
.dashboard-component {
    background-color: rgb(63, 63, 63);
    border-radius: 10px;
}

.btn {
    color: white;
    border: 1px white solid;
}