
/* --------------------- THEME ------------------------ */

/* HIGHLIGHT COLOR ( TEAL ) : #03dac5 */

/* --------------------- DARK MODE ---------------------*/

.dark {
    background-color: #2e2e2e;
    color: #ADADAD;
}

.light {
    background-color: #fff;
    color: #616161;
}

/* --------------------- LOGIN & REG ---------------------- */





/* --------------------- DASHBAORD ---------------------- */
.dashbaord-item {
    background-color: red;
}